[client]
port                      = 3306
socket                    = /mysql/data/mysql.sock

[mysql]
no-auto-rehash

[mysqld]
####: for server
port                      = 3306
user                      = mysql
basedir                   = /usr/local/mysql
datadir                   = /mysql/data
tmpdir                    = /mysql/tmpdir
pid-file                  = /mysql/data/mysql.pid
socket                    = /mysql/data/mysql.sock
server-id =630 


####: for global
skip-name-resolve
character-set-server       = utf8mb4
default-storage-engine     = Innodb
sql_mode                   = ''

performance_schema          = on  
skip-ssl

####: for binlog
log-bin                     = /mysql/logs/mysql-bin
binlog_format               = ROW
binlog_cache_size           = 20M
sync_binlog                 = 1
expire_logs_days            = 4
binlog_rows_query_log_events=on

####: for binlog
log-bin                     = /mysql/logs/mysql-bin
binlog_format               = ROW
binlog_cache_size           = 20M
sync_binlog                 = 1
expire_logs_days            = 4
binlog_rows_query_log_events=on

####: from undo log

innodb_undo_directory       = /mysql/data
innodb_undo_tablespaces     = 8
innodb_undo_logs            = 128
innodb_max_undo_log_size    = 1G
innodb_purge_rseg_truncate_frequency
innodb_undo_log_truncate    = 1


####: for other log
slow_query_log
long_query_time           = 1
log-error                 = /mysql/logs/error.err
slow_query_log_file       = /mysql/logs/slow.log
general_log_file          = /mysql/logs/general.log
log_timestamps            = SYSTEM
innodb_print_all_deadlocks= ON


####:fro replication
rpl-semi-sync-master-enabled = 1
rpl-semi-sync-slave-enabled = 1 
rpl_semi_sync_master_wait_for_slave_count=1

####: for InnoDB
innodb_flush_method             = O_DIRECT
innodb_file_per_table           = 1
innodb_buffer_pool_size         = 45G
innodb_buffer_pool_instances    = 8
innodb_data_file_path           = ibdata01:1024M:autoextend
innodb_log_buffer_size          = 20M
innodb_log_file_size            = 1024M
innodb_log_files_in_group       = 2
innodb_open_files               = 16384
innodb_flush_log_at_trx_commit  = 1
innodb_lock_wait_timeout        = 60
innodb_io_capacity              = 800
innodb_max_dirty_pages_pct      = 75

####: for session
sort_buffer_size    = 2M
join_buffer_size    = 2M

max_connections     = 1000
back_log            = 100
max_connect_errors  = 9000000
table_open_cache    = 10000
max_allowed_packet  = 160M
max_heap_table_size = 64M

thread_cache_size   = 384
query_cache_type    = 0
query_cache_size    = 0
ft_min_word_len     = 4
thread_stack        = 192K
tmp_table_size      = 512M
explicit_defaults_for_timestamp  =  true 


####: for MyIsam
key_buffer_size           = 256M
read_buffer_size          = 4M
read_rnd_buffer_size      = 8M
bulk_insert_buffer_size   = 16M
myisam_sort_buffer_size   = 32M
myisam_max_sort_file_size = 4G
myisam_repair_threads     = 1


[mysqldump]
quick
max_allowed_packet = 16M

[myisamchk]
key_buffer_size  = 128M
sort_buffer_size = 128M
read_buffer      = 8M
write_buffer     = 8M

[mysqlhotcopy]
interactive-timeout

[mysqld_safe]
open-files-limit = 16384
